IRIS-MQTT-IoT-Adapter/example/PassThrough/mqtt_schema.xml

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="message">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="type"/>
        <xs:element type="xs:dateTime" name="timestamp"/>
        <xs:element name="content">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="payload">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="sensorValue"/>
                    <xs:element type="xs:string" name="sensorID"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>